@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*, html, body, ul, li, a, p, h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
  outline: 0px !important; }

ul li {
  list-style: none; }

a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out; }

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 16px; }

.caption {
  font-size: 14px;
  color: #666; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px; }

a {
  color: #000; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.wrapper.max-width .container {
  padding: 0 70px; }

.container {
  max-width: 100%; }

.container.w-80 {
  width: 80%; }

/*____________ buttons styling ____________*/
.btn {
  text-transform: uppercase;
  padding: .81rem .75rem;
  border-radius: 8px; }

.btn-brand {
  background-color: #e45d33;
  color: #fff; }
  .btn-brand:hover, .btn-brand:focus, .btn-brand:active {
    color: #fff; }

.btn-light {
  box-shadow: 0px 0px 3px #ccc; }

.btn-block {
  width: 100%; }

.btn-check:focus + .btn, .btn:focus {
  box-shadow: none; }

/*____________ buttons styling end ____________*/
/*____________ text styling ____________*/
.text-orange {
  color: #e45d33; }

/*____________ text styling end ____________*/
/*____________ form styling start ____________*/
.myuploader {
  position: relative;
  float: left;
  width: 100%; }
  .myuploader .btn-brand {
    width: 150px; }
  .myuploader .form-control[readonly],
  .myuploader .form-control:disabled {
    background-color: #fff !important;
    height: 52px;
    border-radius: 8px; }

.form-control:focus,
.form-check-input:focus,
.form-select:focus {
  border-color: #000;
  box-shadow: none; }

.fileUpload {
  overflow: hidden;
  position: absolute;
  overflow: hidden;
  height: 42px;
  right: 5px;
  top: 5px;
  padding: 0.5rem 0.75rem; }

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

.form-floating > .form-control,
.form-floating > .form-select,
.alert {
  border-radius: 8px; }

.form-floating.has-right-icon a,
.form-floating.has-right-icon img,
.form-floating.has-right-icon .btn-brand {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%); }

.form-floating.has-right-icon img {
  max-height: 20px; }

.form-floating.has-right-icon .btn-brand {
  height: 42px;
  right: 5px;
  width: 150px;
  padding: 0.5rem 0.75rem; }

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
  opacity: 1;
  transform: scale(0.85) translateY(-15px) translateX(0.15rem);
  background: #fff;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 0.5rem;
  margin-left: 0.2rem;
  height: 20px; }

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 0.625rem;
  padding-bottom: .625rem; }

.form-floating > label {
  padding: .75rem .75rem; }

.form-floating > .form-control,
.form-floating > .form-select {
  height: 52px;
  padding: .5rem .75rem; }

.form-select,
.form-control {
  height: 52px; }

.form-check-input:checked {
  background-color: #e45d33;
  border-color: #e45d33; }

.input-group {
  border: 1px solid #ccc; }
  .input-group .input-group-text {
    background-color: transparent;
    border: none; }
  .input-group .form-control {
    border: none; }

/*____________ form styling end ____________*/
.login {
  /*________ signup ___________*/ }
  .login .left {
    position: relative;
    padding: 0 70px; }
    .login .left .logo {
      margin: 20px 0 50px 0;
      display: block; }
    .login .left form {
      margin-top: 50px; }
    .login .left .copyright-text {
      position: absolute;
      left: 70px;
      bottom: 30px; }
  .login .right {
    background-color: #141d3d;
    color: #fff;
    min-height: 110vh;
    position: relative;
    overflow: hidden; }
    .login .right:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: -20%;
      right: -40%;
      width: 510px;
      height: 490px;
      background: url(../images/login-right-circle.png) no-repeat center center;
      background-size: cover; }
    .login .right .center-content {
      width: 86%;
      text-align: center;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 7%;
      transform: translateY(-50%); }
      .login .right .center-content img {
        width: 70%;
        margin-top: 50px; }
      .login .right .center-content h2 {
        width: 100%;
        margin: 60px 0 40px 0; }
      .login .right .center-content p {
        font-size: 14px;
        width: 84%;
        margin: 0 auto 100px auto; }
    .login .right .bottom-image {
      height: 6px;
      width: auto;
      position: absolute;
      left: 50%;
      bottom: 30px;
      transform: translateX(-50%); }
  .login.signup .right {
    min-height: 120vh; }

/*____________ Boarding start _____________*/
.boarding {
  min-height: 100vh; }
  .boarding .row {
    height: 100%; }
    .boarding .row .top-height {
      height: 120px; }
    .boarding .row .content p {
      color: #999;
      font-size: 14px; }
  .boarding .left {
    position: relative;
    min-height: 100vh;
    background-color: #29203b;
    padding-top: 20px;
    padding-bottom: 20px; }
    .boarding .left .logo {
      display: block; }
    .boarding .left ul li {
      color: #ccc;
      margin-bottom: 20px; }
      .boarding .left ul li span {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        line-height: 18px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid #bbb;
        font-size: 11px; }
      .boarding .left ul li.completed span {
        background-color: #fff;
        color: #29203b; }
      .boarding .left ul li.active {
        color: #fff; }
        .boarding .left ul li.active span {
          background-color: #fff;
          color: #29203b; }
    .boarding .left .floating-bottom {
      position: absolute;
      bottom: 20px;
      left: 0px;
      color: #fff;
      padding: 0 24px; }
      .boarding .left .floating-bottom h4 {
        margin-bottom: 20px; }
      .boarding .left .floating-bottom p {
        color: #ccc;
        margin-bottom: 40px; }
  .boarding .center {
    padding: 0 70px;
    background-color: #fcfcfc; }
    .boarding .center .block {
      border-bottom: 1px dashed #ccc; }
    .boarding .center .drag-drop {
      border: 1px solid #ccc;
      border-radius: 8px;
      width: 100%;
      padding: 20px; }
      .boarding .center .drag-drop img {
        display: block;
        margin: 0 auto; }
    .boarding .center .btn-row .btn {
      width: 120px;
      margin-right: 20px; }
    .boarding .center .d-flex .btn {
      width: 170px; }
    .boarding .center .edit-block {
      border-radius: 8px;
      border: 1px solid #ccc;
      padding: 20px;
      display: flex;
      justify-content: space-between; }
      .boarding .center .edit-block .text small {
        margin-top: 5px;
        display: block;
        color: #999; }
      .boarding .center .edit-block .icons a {
        margin-left: 10px; }
  .boarding .right {
    position: relative;
    background-color: #fcfcfc; }
    .boarding .right .btn-logout {
      width: 150px;
      margin: 0 auto;
      display: block; }
    .boarding .right .floating-image {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 250px; }

/*____________ Boarding end _____________*/
/*______________ css loader animation start ____________*/
.overlay {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }

.lds-ripple {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px; }

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s; }

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0; } }
/*______________ css loader animation end ____________*/
/*__________________________________ user dashboard start ________________________*/
/*______________ navbar start  --  user dashboard ____________*/
.navbar {
  background-color: #29203b; }
  .navbar .navbar-brand {
    margin-right: 30px; }
  .navbar .img-container {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    overflow: hidden; }
    .navbar .img-container img {
      object-fit: cover;
      width: 100%; }
  .navbar .input-group {
    height: 40px;
    width: 300px;
    background-color: #283255;
    border: 1px solid #283255; }
    .navbar .input-group span {
      color: #fff;
      border: none;
      height: 100%; }
    .navbar .input-group .form-control {
      border: none;
      background-color: #283255;
      color: #fff;
      height: 100%; }

/*temp*/
.navbar-nav .nav-link {
  color: #fff; }

.links-below-nav {
  border-bottom: 1px solid #ccc; }
  .links-below-nav li {
    line-height: 50px;
    margin-right: 20px !important; }
    .links-below-nav li a.active {
      color: #e45d33;
      position: relative; }
      .links-below-nav li a.active:before {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #e45d33;
        position: absolute;
        left: 0px;
        bottom: -16px;
        z-index: 1; }

/*______________ navbar end --  user dashboard ____________*/
.status-bar {
  display: flex;
  justify-content: space-between;
  margin: 40px 0; }
  .status-bar .status-card {
    width: 23%;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #fff; }
    .status-bar .status-card .icon-container {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      margin-right: 10px;
      float: left; }
      .status-bar .status-card .icon-container.blue {
        background-color: #edf2ff; }
        .status-bar .status-card .icon-container.blue .bi {
          color: #4a7bf8; }
      .status-bar .status-card .icon-container.red {
        background-color: #fdefeb; }
        .status-bar .status-card .icon-container.red .bi {
          color: #e45d33; }
      .status-bar .status-card .icon-container.orange {
        background-color: #fef7e6; }
        .status-bar .status-card .icon-container.orange .bi {
          color: #f2ae04; }
      .status-bar .status-card .icon-container.green {
        background-color: #e7f8f7; }
        .status-bar .status-card .icon-container.green .bi {
          color: #0eb9a9; }
    .status-bar .status-card .right {
      float: left; }
      .status-bar .status-card .right h3 {
        font-size: 22px; }
      .status-bar .status-card .right p {
        color: #999; }

.manage-jobs {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px 20px 0 20px; }
  .manage-jobs h3 {
    margin-bottom: 30px; }
  .manage-jobs .table tr td {
    padding-top: 20px;
    padding-bottom: 20px; }
  .manage-jobs .table tr:last-child td {
    border-bottom: 0px; }
  .manage-jobs .table tr td:nth-child(1) span {
    display: block; }
    .manage-jobs .table tr td:nth-child(1) span.upper-text {
      color: #666;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .manage-jobs .table tr td:nth-child(1) span.position {
      font-size: 22px;
      padding: 5px 0; }
    .manage-jobs .table tr td:nth-child(1) span.below-text {
      color: #666; }
  .manage-jobs .table tr td:nth-child(2) .bi-circle-fill {
    font-size: 7px;
    margin: 0 5px;
    position: relative;
    top: -2px; }

.update-profile-right .top {
  background-color: #29203b;
  padding: 15px;
  float: left;
  width: 100%;
  margin-top: 40px; }
  .update-profile-right .top .img-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    overflow: hidden; }
    .update-profile-right .top .img-container img {
      object-fit: cover;
      height: 100%; }
  .update-profile-right .top .right {
    float: left; }
    .update-profile-right .top .right h4 {
      color: #fff;
      font-size: 18px;
      padding-top: 3px; }
    .update-profile-right .top .right small {
      color: #999; }
.update-profile-right .missing-details {
  float: left;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 0px;
  padding: 20px; }

/*______________ user-dashboard-jobs ________________*/
.user-db-filters-row {
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #ccc; }
  .user-db-filters-row .container .d-flex {
    width: 90%; }
    .user-db-filters-row .container .d-flex .jobs-status {
      line-height: 52px;
      font-size: 18px; }

.user-db-inner-jobs .left-main {
  width: 35%;
  float: left;
  border: 1px solid #ccc;
  border-top: 0px;
  overflow-y: auto; }
  .user-db-inner-jobs .left-main .job-card {
    padding: 20px;
    border-bottom: 1px solid #ccc; }
    .user-db-inner-jobs .left-main .job-card .img-container {
      float: left;
      width: 60px;
      height: 60px;
      padding: 5px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      margin-right: 10px; }
      .user-db-inner-jobs .left-main .job-card .img-container img {
        max-height: 50px;
        width: auto;
        max-width: 50px; }
    .user-db-inner-jobs .left-main .job-card .text-container {
      float: left;
      width: calc(100% - 70px); }
      .user-db-inner-jobs .left-main .job-card .text-container h5 {
        width: 60%;
        float: left; }
      .user-db-inner-jobs .left-main .job-card .text-container small {
        float: right;
        width: 35%;
        font-size: 12px;
        text-align: right; }
      .user-db-inner-jobs .left-main .job-card .text-container p {
        width: 100%;
        float: left;
        margin: 5px 0; }
      .user-db-inner-jobs .left-main .job-card .text-container .list-group .list-group-item {
        float: left;
        margin-right: 15px;
        background-color: transparent;
        padding: 0px;
        border: none;
        font-size: 14px; }
        .user-db-inner-jobs .left-main .job-card .text-container .list-group .list-group-item:last-child {
          margin-right: 0; }
.user-db-inner-jobs .right-main {
  width: 65%;
  float: left;
  border-right: 1px solid #ccc; }
  .user-db-inner-jobs .right-main .top-hero {
    background-color: #f0f0f0;
    padding: 40px;
    float: left;
    width: 100%;
    margin-bottom: 40px; }
    .user-db-inner-jobs .right-main .top-hero .hero-left,
    .user-db-inner-jobs .right-main .top-hero .hero-right {
      width: 50%; }
    .user-db-inner-jobs .right-main .top-hero .hero-right .btn {
      margin-bottom: 10px; }
    .user-db-inner-jobs .right-main .top-hero h1 {
      margin-bottom: 15px; }
  .user-db-inner-jobs .right-main .content {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px; }
    .user-db-inner-jobs .right-main .content .block {
      padding: 0 40px; }
      .user-db-inner-jobs .right-main .content .block .experience .mycard {
        margin-bottom: 40px;
        width: 25%; }
        .user-db-inner-jobs .right-main .content .block .experience .mycard .heading {
          text-transform: uppercase;
          color: #666;
          letter-spacing: 2px;
          margin-bottom: 10px; }
      .user-db-inner-jobs .right-main .content .block .text-block {
        margin-bottom: 30px;
        float: left;
        width: 100%; }
        .user-db-inner-jobs .right-main .content .block .text-block h4 {
          margin-bottom: 10px; }
        .user-db-inner-jobs .right-main .content .block .text-block .my-list-group-horizontal li {
          width: 40%;
          margin-bottom: 15px; }
          .user-db-inner-jobs .right-main .content .block .text-block .my-list-group-horizontal li p {
            width: 50%;
            text-align: left; }
          .user-db-inner-jobs .right-main .content .block .text-block .my-list-group-horizontal li .light {
            color: #999; }
        .user-db-inner-jobs .right-main .content .block .text-block .contact .img-container {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 10px;
          float: left; }
          .user-db-inner-jobs .right-main .content .block .text-block .contact .img-container img {
            object-fit: cover;
            width: 100%;
            min-height: 100%; }
        .user-db-inner-jobs .right-main .content .block .text-block .contact .text-container {
          float: left; }
          .user-db-inner-jobs .right-main .content .block .text-block .contact .text-container h6 {
            margin-top: 7px; }
          .user-db-inner-jobs .right-main .content .block .text-block .contact .text-container small {
            color: #666; }
        .user-db-inner-jobs .right-main .content .block .text-block.w50 {
          width: 50%;
          float: left; }
    .user-db-inner-jobs .right-main .content:last-child {
      margin-bottom: 0; }

/*______________ user-dashboard-jobs end ________________*/
/*______________ user-job-view start ________________*/
.user-job-view {
  padding-top: 30px; }
  .user-job-view .left-main .content {
    padding: 0 20px;
    border: 1px solid #ccc; }
  .user-job-view .left-main .block {
    padding: 20px 0;
    border-bottom: 1px solid #ccc; }
    .user-job-view .left-main .block:last-child {
      border-bottom: none; }
    .user-job-view .left-main .block.top {
      display: flex;
      justify-content: space-between; }
      .user-job-view .left-main .block.top .left {
        width: 60%; }
      .user-job-view .left-main .block.top .right {
        width: 38%; }
    .user-job-view .left-main .block .job-card .form-check {
      float: left;
      margin-top: 20px; }
    .user-job-view .left-main .block .job-card .img-container {
      float: left;
      width: 60px;
      height: 60px;
      padding: 5px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      margin-right: 10px; }
      .user-job-view .left-main .block .job-card .img-container img {
        max-height: 50px;
        width: auto;
        max-width: 50px; }
    .user-job-view .left-main .block .job-card .text-container {
      float: left;
      width: calc(100% - 110px); }
      .user-job-view .left-main .block .job-card .text-container h5 {
        float: left; }
      .user-job-view .left-main .block .job-card .text-container small {
        font-size: 12px;
        padding: 2px 5px;
        margin: 0 0 0 10px;
        background-color: #f1f1f1;
        border: none;
        position: relative;
        top: -2px; }
        .user-job-view .left-main .block .job-card .text-container small .bi {
          font-size: 8px;
          margin-right: 3px;
          position: relative;
          top: -2px; }
      .user-job-view .left-main .block .job-card .text-container p {
        width: 100%;
        float: left;
        margin: 5px 0; }
      .user-job-view .left-main .block .job-card .text-container .list-group .list-group-item {
        float: left;
        margin-right: 15px;
        background-color: transparent;
        padding: 0px;
        border: none; }
        .user-job-view .left-main .block .job-card .text-container .list-group .list-group-item:last-child {
          margin-right: 0; }
      .user-job-view .left-main .block .job-card .text-container .bottom {
        margin-top: 20px;
        float: left;
        width: 100%; }
        .user-job-view .left-main .block .job-card .text-container .bottom .btn {
          width: 200px; }
  .user-job-view .right-main .content {
    border: 1px solid #ccc;
    border-bottom: 0px; }
    .user-job-view .right-main .content .sidebar-block {
      padding: 20px;
      background-color: #fff; }
      .user-job-view .right-main .content .sidebar-block .d-flex .right .bi {
        margin-left: 10px; }
    .user-job-view .right-main .content:last-child {
      border-bottom: 1px solid #ccc; }

/*______________ user-job-view end ________________*/
/*______________ user-profile-edit start ____________________*/
.user-profile-edit {
  padding-top: 40px; }
  .user-profile-edit .right-main .block {
    float: left;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 30px; }
    .user-profile-edit .right-main .block .heading-row {
      margin-bottom: 20px; }
    .user-profile-edit .right-main .block .my-row {
      width: 100%; }
    .user-profile-edit .right-main .block.info .img-container {
      height: 100px;
      width: 100px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 10px; }
      .user-profile-edit .right-main .block.info .img-container img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
    .user-profile-edit .right-main .block.info .myuploader .btn-brand {
      width: 170px; }
    .user-profile-edit .right-main .block.info .right {
      border-left: 1px solid #ccc;
      width: calc(100% - 130px);
      padding-left: 30px; }
    .user-profile-edit .right-main .block .mycard {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 4px; }
      .user-profile-edit .right-main .block .mycard h4 {
        font-size: 20px; }
        .user-profile-edit .right-main .block .mycard h4 .icon-right {
          float: right; }
      .user-profile-edit .right-main .block .mycard .year {
        color: #666;
        margin-top: 10px; }
    .user-profile-edit .right-main .block .float-start {
      width: 100%; }
      .user-profile-edit .right-main .block .float-start .mycard {
        width: 31%;
        margin: 0 3.5% 30px 0;
        float: left; }
        .user-profile-edit .right-main .block .float-start .mycard:nth-child(3n) {
          margin-right: 0; }
    .user-profile-edit .right-main .block .dash-bottom {
      float: left;
      width: 100%;
      margin-bottom: 30px;
      border-bottom: 1px dashed #ccc; }
      .user-profile-edit .right-main .block .dash-bottom .uploaded-img {
        margin-bottom: 30px; }
    .user-profile-edit .right-main .block .two-col .dash-bottom .mycard {
      width: 48%;
      margin-bottom: 30px; }
    .user-profile-edit .right-main .block .one-col .dash-bottom .mycard {
      margin-bottom: 30px; }
    .user-profile-edit .right-main .block .btn-row .btn {
      min-width: 120px;
      margin-right: 20px; }

/*______________ user-profile-edit end ____________________*/
/*__________________________________ user dashboard end ________________________*/
/*______________ Recruters start ____________*/
.rec-job-details {
  min-height: 100vh; }
  .rec-job-details .row {
    height: 100%; }
    .rec-job-details .row .top-height {
      height: 120px; }
    .rec-job-details .row .content p {
      color: #999;
      font-size: 14px; }
  .rec-job-details .left {
    position: relative;
    min-height: 100vh;
    background-color: #29203b;
    padding-top: 20px;
    padding-bottom: 20px; }
    .rec-job-details .left .logo {
      display: block; }
    .rec-job-details .left ul li {
      color: #ccc;
      margin-bottom: 20px; }
      .rec-job-details .left ul li span {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        line-height: 18px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid #bbb;
        font-size: 11px; }
      .rec-job-details .left ul li.completed span {
        background-color: #fff;
        color: #29203b; }
      .rec-job-details .left ul li.active {
        color: #fff; }
        .rec-job-details .left ul li.active span {
          background-color: #fff;
          color: #29203b; }
      .rec-job-details .left ul li ul {
        padding-left: 60px; }
        .rec-job-details .left ul li ul li a {
          color: #ccc; }
    .rec-job-details .left .floating-bottom {
      position: absolute;
      bottom: 20px;
      left: 0px;
      color: #fff;
      padding: 0 24px; }
      .rec-job-details .left .floating-bottom h4 {
        margin-bottom: 20px; }
      .rec-job-details .left .floating-bottom p {
        color: #ccc;
        margin-bottom: 40px; }
  .rec-job-details .center {
    padding: 0 70px;
    background-color: #fcfcfc; }
    .rec-job-details .center .block {
      float: left;
      width: 100%;
      margin-bottom: 30px; }
      .rec-job-details .center .block h4 {
        float: left; }
        .rec-job-details .center .block h4 .form-switch {
          float: right;
          margin: 5px 0 0 10px; }
          .rec-job-details .center .block h4 .form-switch label {
            margin-top: 3px; }
      .rec-job-details .center .block .form-switch {
        font-size: 16px;
        float: left; }
        .rec-job-details .center .block .form-switch label {
          font-size: 14px;
          color: #999;
          display: inline-block; }
      .rec-job-details .center .block p .text-orange {
        font-size: 14px; }
      .rec-job-details .center .block .checkbox-group {
        margin-bottom: 15px; }
        .rec-job-details .center .block .checkbox-group .btn {
          padding: 0px;
          margin-right: 10px;
          color: #999;
          padding: 0px;
          border: none; }
          .rec-job-details .center .block .checkbox-group .btn:hover, .rec-job-details .center .block .checkbox-group .btn:focus {
            box-shadow: none;
            outline: none; }
        .rec-job-details .center .block .checkbox-group .btn-check:checked + .btn {
          background-color: transparent;
          color: #000 !important; }
      .rec-job-details .center .block textarea {
        height: 100px; }
      .rec-job-details .center .block .contact {
        position: relative;
        float: left;
        clear: both;
        width: 50%;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        margin-top: 20px;
        border-radius: 4px; }
        .rec-job-details .center .block .contact .img-container {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 10px;
          float: left; }
          .rec-job-details .center .block .contact .img-container img {
            object-fit: cover;
            width: 100%;
            min-height: 100%; }
        .rec-job-details .center .block .contact .text-container {
          float: left;
          width: calc(100% - 110px); }
          .rec-job-details .center .block .contact .text-container small {
            color: #666;
            display: block; }
        .rec-job-details .center .block .contact .abs-icon {
          position: absolute;
          right: 20px;
          top: 20px; }
      .rec-job-details .center .block .with-del-right {
        position: relative;
        padding-right: 30px; }
        .rec-job-details .center .block .with-del-right .icon-right {
          position: absolute;
          right: 15px;
          top: 15px;
          width: 20px; }
    .rec-job-details .center .drag-drop {
      border: 1px solid #ccc;
      border-radius: 8px;
      width: 100%;
      padding: 20px; }
      .rec-job-details .center .drag-drop img {
        display: block;
        margin: 0 auto; }
    .rec-job-details .center .btn-row .btn {
      width: 120px;
      margin-right: 20px; }
    .rec-job-details .center .d-flex .btn {
      width: 170px; }
    .rec-job-details .center .edit-block {
      border-radius: 8px;
      border: 1px solid #ccc;
      padding: 20px;
      display: flex;
      justify-content: space-between; }
      .rec-job-details .center .edit-block .text small {
        margin-top: 5px;
        display: block;
        color: #999; }
      .rec-job-details .center .edit-block .icons a {
        margin-left: 10px; }
  .rec-job-details .right {
    position: relative;
    background-color: #fcfcfc; }
    .rec-job-details .right .btn-logout {
      width: 150px;
      margin: 0 auto;
      display: block; }
    .rec-job-details .right .floating-image {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 250px; }
  .rec-job-details .accordion .four-form-check {
    float: left;
    width: 100%; }
    .rec-job-details .accordion .four-form-check .form-check {
      float: left;
      width: 46%; }
  .rec-job-details .accordion .accordion-button {
    background-color: #f1f1f1;
    color: #000 !important; }
  .rec-job-details .card-container {
    float: left;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 20px; }
    .rec-job-details .card-container .mycard {
      display: inline-block;
      width: 47%;
      margin-right: 3%;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 4px; }
      .rec-job-details .card-container .mycard h4 {
        font-size: 20px;
        float: left;
        width: 100%; }
        .rec-job-details .card-container .mycard h4 .icon-right {
          float: right; }
      .rec-job-details .card-container .mycard p {
        float: left;
        width: 100%; }
      .rec-job-details .card-container .mycard .year {
        color: #666;
        margin-top: 10px; }

/*______________ Recruters end ____________*/
/*______________ other different blocks - helper classes ____________*/
.my-light-bg {
  background-color: #fcfcfc; }

.uploaded-img {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  float: left;
  width: 100%; }
  .uploaded-img .left {
    margin-right: 10px;
    float: left;
    width: 60px;
    min-height: 60px; }
    .uploaded-img .left img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      height: auto;
      display: block; }
  .uploaded-img .right {
    float: left;
    width: calc(100% - 70px);
    position: relative; }
    .uploaded-img .right h6 {
      font-size: 16px;
      font-weight: normal;
      float: left;
      width: 100%; }
    .uploaded-img .right b {
      font-weight: normal;
      font-size: 13px;
      float: left;
      width: 100%; }
    .uploaded-img .right p {
      float: left;
      line-height: initial;
      font-size: 12px;
      color: #666; }
    .uploaded-img .right a.edit {
      right: 40px; }
  .uploaded-img img {
    height: 60px;
    width: auto;
    margin-right: 10px;
    float: left;
    display: block; }
  .uploaded-img p {
    float: left;
    line-height: 60px; }
  .uploaded-img a {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 18px; }

.modal-footer .btn {
  width: 120px; }

.progress {
  border-radius: 20px;
  height: 8px;
  background-color: #f3f3f3; }
  .progress .progress-bar {
    background-color: #e45d33; }

.keyword {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0 10px 10px 0;
  float: left;
  padding: 5px 10px;
  border-radius: 4px; }
  .keyword .bi-x-circle-fill {
    color: #747474; }

.error {
  color: red; }

.sidebar .list-group {
  border: 1px solid #ccc;
  border-radius: 4px; }
  .sidebar .list-group li {
    border: none;
    padding: 12px 16px; }
    .sidebar .list-group li.active {
      background-color: #fff;
      border-left: 5px solid #e45d33; }
    .sidebar .list-group li a {
      display: block; }
      .sidebar .list-group li a:hover {
        color: #e45d33; }

hr.dashed {
  background: none;
  opacity: 1;
  border-bottom: 1px dashed #ccc;
  margin: 0px;
  float: left;
  width: 100%; }

/*_______ tag styling ______*/
.tagtacular_add_input.ui-autocomplete-input {
  width: 100%;
  float: left;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  padding: .5rem .75rem;
  box-shadow: none; }

.tagtacular_tag_tray .tagtacular_tag.tagtacular_tag_edit {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0 10px 10px 0;
  float: left;
  padding: 5px 20px 5px 10px;
  border-radius: 4px; }

.tagtacular_flash.tagtacular_success {
  display: none !important; }

.tagtacular_delete {
  color: #fff;
  position: relative; }
  .tagtacular_delete:hover, .tagtacular_deletefocus {
    color: #fff; }
  .tagtacular_delete:before {
    content: "";
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/icons/icon-x-lg.svg) no-repeat center center;
    height: 20px;
    width: 20px;
    background-size: 50%;
    background-color: #999;
    border-radius: 50%; }

.tagtacular_delim {
  display: none; }

/*______________ other different blocks - helper classes end ____________*/
.intl-tel-input {
  width: 100%; }

.tel-form-floating-fix label {
  left: 70px !important; }

.tel-form-floating-fix img {
  width: 20px; }

.intl-tel-input input, .intl-tel-input input[type="text"], .intl-tel-input input[type="tel"] {
  height: 52px;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: none;
  border-radius: 8px; }

.education-block .edu-right {
  float: left;
  width: 100%;
  clear: both; }
  .education-block .edu-right .radio-block {
    background-color: #f1f1f1;
    padding: 10px; }
  .education-block .edu-right label {
    font-size: 14px; }
    .education-block .edu-right label small {
      display: block;
      width: 100px;
      line-height: 20px;
      margin-top: 5px; }
  .education-block .edu-right .inner {
    background-color: #f1f1f1;
    padding: 10px;
    float: right;
    width: 80%; }

/*# sourceMappingURL=style.css.map */
