@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*, html, body, ul, li, a, p, h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
  outline: 0px !important;
  box-sizing: border-box; }

ul li {
  list-style: none; }

a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none !important;
  color: #5395ce;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out; }

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none; }

.text-blue {
  color: #5395ce; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px; }

a {
  color: #000; }

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden; }
  .wrapper .container {
    width: 100%;
    padding: 0px;
    position: relative; }

.hamburger {
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 24px;
  position: relative;
  z-index: 1001;
  top: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  .hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  .hamburger span:nth-child(1) {
    top: 0px; }
  .hamburger span:nth-child(2) {
    top: 10px; }
  .hamburger span:nth-child(3) {
    top: 21px; }
  .hamburger.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px; }
  .hamburger.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }

.my-navbar {
  background-color: #5395ce;
  float: left;
  width: 100%;
  padding: 10px 20px; }
  .my-navbar h2 {
    color: #fff;
    font-size: 32px; }
  .my-navbar .top-links-row {
    float: right;
    margin-top: 6px;
    width: 100px; }
    .my-navbar .top-links-row > a {
      color: #fff; }
      .my-navbar .top-links-row > a i {
        font-size: 20px; }
      .my-navbar .top-links-row > a img {
        height: 20px; }
    .my-navbar .top-links-row .btn-link {
      color: #fff; }
      .my-navbar .top-links-row .btn-link.dropdown-toggle::after {
        display: none; }

aside {
  position: absolute;
  z-index: 999;
  left: -100%;
  top: 0px;
  width: 260px;
  transition: all ease-in-out 0.3s;
  background-color: #3e709c;
  height: 100vh; }
  aside.active {
    left: 0px; }
  aside ul {
    padding: 100px 20px 20px 20px; }
    aside ul li {
      margin-bottom: 10px; }
      aside ul li a {
        color: #fff; }
        aside ul li a:hover {
          color: #ccc; }

.main-heading {
  margin: 20px auto;
  text-align: center; }

.main-container {
  float: left;
  width: 100%;
  min-height: calc(100vh - 58px);
  padding: 0px 20px 20px 20px;
  background-color: #f6f6f6; }
  .main-container .my-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px; }
    .main-container .my-card h4 a {
      font-size: inherit;
      color: inherit; }

.input-group-fix .form-floating .form-control {
  border-radius: 8px 8px 0px 0px;
  border: 0;
  border-bottom: 1px solid #ced4da;
  background: #e7e7e7; }

.form-control:focus,
.btn-check:focus + .btn, .btn:focus {
  border-color: #ced4da;
  outline: 0;
  border: none;
  box-shadow: none; }

.btn-row {
  margin-top: 20px; }

.btn-link {
  text-decoration: none !important;
  color: #5395ce;
  padding: 0px; }

.contact-container {
  padding-bottom: 70px;
  float: left;
  width: 100%; }
  .contact-container .contact-block {
    float: left;
    width: 100%;
    margin-bottom: 10px; }
    .contact-container .contact-block:first-child {
      margin-top: 20px; }
    .contact-container .contact-block b {
      color: #999;
      margin-bottom: 5px;
      display: block; }
    .contact-container .contact-block .contact {
      margin-left: -20px;
      width: calc(100% + 40px);
      padding: 0 20px;
      border-radius: 40px;
      height: 50px;
      background-color: #fff;
      border: 1px solid #ced4da;
      float: left; }
      .contact-container .contact-block .contact .letter {
        height: 40px;
        width: 40px;
        line-height: 40px;
        margin-top: 4px;
        float: left;
        margin-right: 20px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase; }
        .contact-container .contact-block .contact .letter i {
          color: #fff; }
        .contact-container .contact-block .contact .letter.color1 {
          background-color: blue; }
        .contact-container .contact-block .contact .letter.color2 {
          background-color: green; }
        .contact-container .contact-block .contact .letter.color3 {
          background-color: lightcoral; }
        .contact-container .contact-block .contact .letter.color4 {
          background-color: lightseagreen; }
      .contact-container .contact-block .contact p {
        font-size: 20px;
        padding: 12px 0;
        float: left; }
  .contact-container .fixed-row {
    background-color: #f6f6f6;
    padding: 20px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: 100%; }
    .contact-container .fixed-row i {
      color: #ef8e5e;
      font-size: 50px; }

@media (max-width: 400px) {
  .main-container .my-card h4 {
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
